.bodybg{
 -fx-background-image: url('images/prueba-fondo-vect.gif');
 -fx-background-size: 100% 100%;
}

.test{
 -fx-background-image: url('images/prueba-fondo-vect.gif');
 -fx-background-size: 100% 100%;
}